.nav{
    display: flex;
    flex-direction: column;
}
.sb-sidenav-menu{
    background-color: rgb(88, 86, 223);
    padding: 2rem;
    width: 100%;
    height: 100vh;
}
.nav a{
    color: white !important;
    font-weight: 400;
}